div.dropdown.user.limited A
  div.dropdown__content.limited
    div
      a(href='/articles/new') New Story
    div
      a(href='/coming-soon') Profile
    div
      a(href='/' id="log-out") Sign Out
