doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Create a new User
        link(rel="stylesheet" href="style.css")
    body
        h1.new-user-page New User
        div.form-container
            form.create-user-form

                div#userName
                    label(for="userName") User Name
                    input(name="userName" class="form" type="text" placeHolder="Babe McGee" required)

                div#bio
                    label(for="bio") Bio
                    textarea(name="bio" class="form" placeHolder="I grew up in Kalamazoo and specialize in piloting hot air balloon rides.")

                div#email
                    label(for="email") Email
                    input(name="email" class="form" type="email" placeHolder="babe@thepig.com" required)

                div#password
                    label(for="password") Password
                    input(name="password" class="form" type="password" placeHolder="password" required)

                div#confirmedPassword
                    label(for="confirmedPassword") Confirmed
                    input(name="confirmedPassword" class="form" type="password" placeHolder="password" required)
                div#button
                    button(type="sumbit" class=".user-submit") Submit
            script(src="js/create-user.js")
