extends layout.pug

block content
  body
    include includes/navigation
    div.form-container
      form.create-article-form

        div
          input(name="title" class="form" type="text" placeHolder="Title" required)

        div
          textarea(name="body" class="form" placeHolder="Tell your story." required)

        div#button
          button(type="submit" class=".user-submit") Publish
  script(src="/js/create-article.js")
  script(src="/js/index.js")
