extends layout.pug

block content
  body
    include includes/navigation

    div.content
      div.content__section1
        div.content__article--A Article Box Carousel Top
        div.content__users--B Suggest Users to Follow
        div.content__categories--C Topics to Follow
      div.content__section2
        div.content__article--B Article Box Carousel Middle
      div.content__section3
        div.content__article--C Article Box Carousel Bottom
        div.content__categories--D Reading List
  script(src="/js/log-in.js")
  script(src="/js/index.js")
