extends layout.pug

block content
  body
    include includes/navigation

    div.content
      div.content__section1
        div.content__article--A
          div.artA__main
            div.artA__main--container
              img.artA__main--img(src="https://picsum.photos/200/200")
              h4.artA__main--author Berber the Cat
                button.followButton Follow
              h2.artA__main--title How I tricked everyone into giving me Snacks
              a.artA__main--link Read More
          div.artA__side
            div.artA__side--Article
            div.artA__side--Article
            div.artA__side--Article
            div.artA__side--Article
        div.content__users--B Suggest Users to Follow
        div.content__categories--C Topics to Follow
      div.content__section2
        div.content__article--B Article Box Carousel Middle
      div.content__section3
        div.content__article--C
          div.content__articleC--Article
          div.content__articleC--Article
          div.content__articleC--Article
          div.content__articleC--Article
          div.content__articleC--Article
        div.content__categories--D Reading List
  script(src="/js/log-in.js")
  script(src="/js/index.js")
  script(src="/js/index-articles.js")
