html
  head
    title Medium
    link(rel='stylesheet' type='text/css' href='/style.css')
    link(rel='stylesheet' type='text/css' href='/index-style.css')
  body
    nav
      a(href='/') Medium
        a(href='/create') Sign-Up
        a(href='/profile') Profile
    block content
