doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Log-in
        link(rel="stylesheet" href="style.css")
    body
        h1.log-in Log-in
        div.form-container
            form.log-in-form

                div#userName
                    label(for="userName") User Name
                    input(name="userName" class="form" type="text" placeHolder="Babe McGee" required)

                div#password
                    label(for="password") Password
                    input(name="password" class="form" type="password" placeHolder="password" required)

                div#button
                    button(type="sumbit" class=".user-submit") Submit
            script(src="js/log-in.js")
