extends layout.pug

block content

  body
    include includes/navigation
    h1.log-in Log-in
      div.form-container
        form.log-in-form

          div#userName
            label(for="userName") User Name
            input(name="userName" class="form" type="text" placeHolder="Babe McGee" required)

          div#password
            label(for="password") Password
            input(name="password" class="form" type="password" placeHolder="password" required)

          div#button
            button(type="submit" class=".user-submit") Submit
    script(src="/js/log-in.js")
    script(src="/js/index.js")
