h1, a {
    font-family: "Noto Sans JP", "Courier New", Courier, monospace;
    font-size: 2rem;
    text-decoration: none;
    color: #2b2b2b;
    margin: 0;
}
.articlesContainer {
    grid-area: c;
    height: 350px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem 0;
}
.bio {
    padding: 0 0 0 2rem;
}
.claps {
    font-family: "Noto Sans JP", "Courier New", Courier, monospace;
    font-size: 0.75rem;
}
.followers {
    padding: 0 0 0 2rem;
    font-size: 0.75rem
}
.kanye {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.outerContainer {
    display: grid;
    grid-template-areas:
                "a a b"
                "c c c";
    display: grid;
    width: 700px;
    height: 500px;
    margin: 80px;
}
.outerOuterLmao {
    display: flex;
    justify-content: center;
}
.profileContainer {
    grid-area: a;
    width: 550px;
    height: 150px;

}
.pictureContainer {
    border: 1px #2b2b2b;
    grid-area: b;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 150px;

}
.userName {
    font-size: 3rem;
    font-family: "Noto Sans JP", "Courier New", Courier, monospace;
    padding: 1rem 2rem 0;
}
