form {
  font-family: "Courier New", Courier, monospace;
}

#userName {
  margin: 2em;
}

#bio {
  margin: 2em;
}

#email {
  margin: 2em;
}

#password {
  margin: 2em;
}

#confirmedPassword {
  margin: 2em;
}

#button {
  margin-left: 2em;
}

#button:hover {
  cursor: pointer;
  transform: translateY(-0.15em);
  box-shadow: 0.1em 0.1em 0.1em gray;
}

.new-user-page {
  font-family: "Courier New", Courier, monospace;
}

.form-container {
  background-color: darkgray;
}

#bioField {
  height: 2em;
}