@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

body {
  font-family: "Noto Sans JP", "Courier New", Courier, monospace;
}

.coming-soon {
  width: 500px;
  text-align: center;
  margin: auto;
}

#userName {
  margin: 2em;
}

#bio {
  margin: 2em;
}

#email {
  margin: 2em;
}

#password {
  margin: 2em;
}

#confirmedPassword {
  margin: 2em;
}

#button {
  margin-left: 2em;
}

#button:hover {
  cursor: pointer;
  transform: translateY(-0.15em);
  box-shadow: 0.1em 0.1em 0.1em gray;
}

.form-container {
  background-color: darkgray;
}
